@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --first-color: #52378C;
    --second-color: #737373;
    --third-color: #fff;
    --fourth-color: #000;
    --fifth-color: #A6A6A6;
    --sixth-color: #F2F2F2;
}


body {
    margin: 0;
    background: var(--fifth-color);
    font-family: "Montserrat", serif;
}
  
main {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 2px;
}
  
section {
    transform-style: preserve-3d;
    position: relative;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* MENU */
.menu_principal {
  position: relative;
  height: 1.5rem; /* Ajusta a altura automaticamente ao conteúdo */
  display: flex; /* Mantém os elementos centralizados */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Evita transbordamento */
  padding: 20px; /* Espaçamento interno */
  background: var(--fifth-color); /* Cor de fundo, se necessário */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  z-index: -1; /* Mantém o fundo atrás do conteúdo */
}


/* CAPA E IDENTIDADE */
.first-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75vh;
}

.social_image {
    height: 100%;
    width: auto;
    object-fit: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 50%;
    text-align: left;
    padding: 0 2rem;
    margin-top: 15rem;
}

.content h1 {
    text-align: left;
    font-size: 3rem;
    margin-bottom: 0;
    margin-top: 0;
}

.content p {
    text-align: justify;
    color: var(--third-color);
    font-size: 1.5rem;
}

.logo {
    width: 75%;
    padding-bottom: 2rem;
}

/* APRESENTAÇÃO MKB */
.second-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
  align-items: center;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 25rem;
  gap: 2rem;
  margin: 3rem;
}

.presentation h1 {
  margin: 0;
  font-size: 3rem;
}

.presentation p {
  margin: 0;
  font-size: 1.5rem;
  text-align: justify;
}

.logo_presentation {
  height: 25%;
}


/* EFEITOS PARALLAX */
.no-parallax {
  background-image: url("../assets/fundo_portfolio.png");
  z-index: 999;
}

.parallax {
    height: 40vh;
}
  
.parallax::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.5);
    background-size: 100%;
    z-index: -1;
}
  
.bg::after {
    background: url("../assets/fundo_construção.png");
    background-size: cover;
}


/* SERVIÇOS */
.cards_service input {
  position: absolute;
  scale: 0;
}

.cards_service {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

article .front, article .back {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  text-align: center;
  backface-visibility: hidden;
  background-color: var(--third-color);
  border-radius: 1.25rem;
  padding: 2rem;
  transition: 0.6s;
  cursor: pointer;
}

article {
  position: relative;
  perspective: 62.5rem;
  width: 17.5rem;
  height: 17.5rem;
}

.back {
  transform: rotateY(180deg);
}

.back p {
  font-size: 1.125rem;
  color: var(--first-color);
}

article span {
  width: 5rem;
  height: 4.75rem;
  border-radius: 10%;
  display: grid;
  place-items: center;
  font-size: 2rem;
  justify-content: center;
}

input:checked ~ article .back {
  transform: rotateY(0);
}

input:checked ~ article .front {
  transform: rotateY(-180deg);
}

article var {
  font-style: normal;
  font-size: 1.75rem;
  line-height: 1;
  color: var(--first-color);
}

article h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.15rem;
  color: var(--first-color);
}

#sent { color: var(--fourth-color); }
#sent span { background: var(--sixth-color) }


/* RESPONSIVOS */
  @media (max-width: 53rem) {
    /* CAPA E IDENTIDADE */
    .no-parallax {
      background-image: none;
      background-color: var(--fifth-color);
    }

    .first-section {
        flex-direction: column;
        height: auto;
    }

    .content {
        width: 90%;
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 0 1rem;
    }

    .content h1 {
        text-align: center;
    }

    .content p {
      text-align: center;
    }

    .social_image {
        width: 100%;
        height: auto;
    }

    .logo {
        width: 80%;
        padding-bottom: 2rem;
    }

    /* APRESENTAÇÃO MKB */
    .presentation {
      padding: 0 5rem;
      gap: 2rem;
      margin: 3rem;
    }

    .presentation h1 {
      font-size: 2.5rem;
      text-align: center;
    }

    .presentation p {
      font-size: 1.5rem;
      text-align: center;
    }

    .logo_presentation {
      height: 30%;
    }

    /* CARDS SERVIÇOS */
    .cards_service {
      grid-template-columns: repeat(2, 1fr); /* Ajusta para 2 colunas */
      gap: 1.5rem; /* Reduz o espaçamento */
    }
  
    article {
      width: 15rem; /* Reduz largura */
      height: 15rem; /* Reduz altura */
    }
  
    article h3 {
      font-size: 1rem; /* Ajusta o tamanho do texto */
    }
  
    article var {
      font-size: 1.5rem; /* Ajusta o tamanho do texto */
    }
}

@media (max-width: 37.5rem) {
  /* CAPA E IDENTIDADE */
  .no-parallax {
    background-image: none;
    background-color: var(--fifth-color);
  }

  .content {
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding: 0 0.5rem;
  }

  .content h1 {
      font-size: 1.5rem;
  }

  .content p {
      font-size: 0.9rem;
      text-align: center;
  }

  .logo {
      width: 80%;
  }

  .social_image {
      width: 100%;
      height: auto;
  }

/* APRESENTAÇÃO MKB */
  .presentation {
    padding: 0 2rem;
    gap: 1rem;
    margin: 1.5rem;
  }

  .presentation h1 {
    font-size: 1.5rem;
    text-align: center;
  }

  .presentation p {
    font-size: 0.9rem;
    text-align: center;
  }

  .logo_presentation {
    height: 15%;
  }

      /* CARDS SERVIÇOS */
  .cards_service {
    grid-template-columns: repeat(2, 1fr); /* Mantém 2 colunas */
    gap: 1rem; /* Reduz ainda mais o espaçamento */
  }

  article {
    width: 10rem; /* Reduz largura */
    height: 10rem; /* Reduz altura */
  }

  article h3 {
    font-size: 0.9rem; /* Ajusta o tamanho do texto */
  }

  article var {
    font-size: 1.25rem; /* Ajusta o tamanho do texto */
  }

  .back p {
    font-size: 0.625rem; /* Ajusta o tamanho do texto no verso */
  }

  article span {
    width: 3.5rem; /* Ajusta largura do span */
    height: 3.5rem; /* Ajusta altura do span */
    font-size: 1.5rem; /* Ajusta o tamanho do texto no span */
  }
}